﻿@using NewsWebsite.Services.Contracts
@inject ISecurityTrimmingService securityTrimmingService

<style>
    .fixed-table-header {
        margin-right: 0px !important;
    }
</style>

<div id="toolbar">
    <a class="btn btn-success text-white" asp-action="CreateOrUpdate">
        <i class="fa fa-plus"></i> | افزودن خبر جدید
    </a>

    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-url="@Url.Action("DeleteGroup","Category")">
        <i class="fa fa-trash"></i> | حذف گروهی
    </button>
</div>

<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/News/GetNews"
       data-response-handler="responseHandler">
</table>

<script>
    var $table = $('#table')
    var selections = []

    function get_query_params(p) {
        return {
            extraParam: 'abc',
            search: p.title,
            sort: p.sort,
            order: p.order,
            limit: p.limit,
            offset: p.offset
        }
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if (key != "state" && key != "Id" && key!='آدرس' && key!="ردیف" && key!="متن خبر" && key!="NumberOfLike" && key!="NumberOfDisLike" && key!="ShortTitle" && key!="Status" && key!="NumberOfComments")
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            if (key == 'آدرس') {
                var url = '@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)' + '/News/' + row.Id + '/' + value;
                html.push('<p><b style="float:right">' + key + ':</b> ' + '<a href="' + url +'" style="float:right;direction:ltr;margin-right:2px;">'  + url + '</a>' + '</p>')
            }
            if(key == 'متن خبر'){
                html.push('<br><hr/><p><b>' + key + ':</b>' + value + '</p>')
            }
        })
        return html.join('')
    }

    function isPublishFormatter(value, row, index) {
        return [
            '<span class="badge badge-primary">' + row.Status + '</span>'
            ].join('')
    }

    function operateFormatter(value, row, index) {
        var access = "";
        if ('@securityTrimmingService.CanUserAccess(User,"Admin","News","CreateOrUpdate")' == 'True') {
            access = access + '<a class="text-success" href="/Admin/News/CreateOrUpdate?newsId=' + row.Id + '" title="ویرایش"><i class="fa fa-edit"></i></a>';
        }
        if ('@securityTrimmingService.CanUserAccess(User,"Admin","News","Delete")' == 'True') {
            access = access + '<button type="button" class="btn-link text-danger" data-toggle="ajax-modal" data-url=@Url.Action("Delete", "News")/?newsId=' + row.Id + ' title="حذف"><i class="fa fa-trash"></i></button>';
        }
        return access;
    }

    function likeFormatter(value, row, index) {
        return [
            '<a class="btn btn-success btn-sm text-white text-success">',
            row.NumberOfLike,'<i class="fa fa-thumbs-up mr-1"></i>',
            '</a >'
        ].join('')
    }

    function dislikeFormatter(value, row, index) {
        return [
            '<a class="btn btn-danger btn-sm text-white">',
            row.NumberOfDisLike,'<i class="fa fa-thumbs-down mr-1"></i>',
            '</a >'
        ].join('')
    }

    function commentFormatter(value, row, index) {
        return [
            '<a href="/Admin/Comments/Index?newsId=' + row.Id + '" class="btn btn-primary btn-sm text-white">',
            row.NumberOfComments,'<i class="fa fa-comments mr-1"></i>',
            '</a >'
        ].join('')
    }

    function checkBoxFormat(value, row) {
       return '<input type="checkbox" name="btSelectItem" value="' + row.Id + '" />';
    }

    function totalTextFormatter(data) {
        return 'تعداد'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 600,
            locale: 'fa-IR',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    formatter: checkBoxFormat
                }, {
                    title: 'ردیف',
                    field: 'ردیف',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: totalTextFormatter
                }, {
                    title: 'جزئیات اطلاعات اخبار',
                    colspan: 9,
                    align: 'center'
                }],
                [{
                    field: 'ShortTitle',
                    title: 'عنوان خبر',
                    sortable: true,
                    footerFormatter: totalNameFormatter,
                },{
                    field: 'بازدید',
                    title: 'بازدید',
                    sortable: true,
                    align: 'center'
                },{
                    field: 'لایک',
                    title: 'لایک',
                    sortable: true,
                    align: 'center',
                    formatter:likeFormatter
                },{
                    field: 'دیس لایک',
                    title: 'دیس لایک',
                    sortable: true,
                    align: 'center',
                    formatter:dislikeFormatter
                },{
                    field: 'نظرات',
                    title: 'نظرات',
                    sortable: true,
                    align: 'center',
                    formatter:commentFormatter
                },{
                    field: 'تاریخ انتشار',
                    title: 'تاریخ انتشار',
                    sortable: true,
                    align: 'center'
                },{
                    field: 'وضعیت',
                    title: 'وضعیت',
                    align: 'center',
                    formatter: isPublishFormatter
                }, {
                    field: 'operate',
                    title: 'عملیات',
                    align: 'center',
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            ]
        })
    }

    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>
