﻿@*@page "{id:int}"
@model NewsWebsite.Areas.Admin.Pages.UserManager.EditModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 user-profil-part pull-left">
        <div class="row ">
            <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                @if (Model.Image != null)
                {
                    <img src="~/avatars/@Model.Image" height="140" />
                }

                else
                {
                    <img src="~/assets/img/UserPic.png" height="140" />
                }
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                <a asp-action="RenderUser" asp-controller="UserManager" asp-route-userId="@Model.Id" class="btn btn-success btn-sm btn-block mt-2"> ویرایش اطلاعات </a>
                <a asp-action="ResetPassword" asp-controller="UserManager" asp-route-userId="@Model.Id" class="btn btn-warning btn-sm btn-block mb-2">بازنشانی کلمه عبور</a>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 pull-right profile-right-section">
        <div class="row profile-right-section-row">
            <div class="col-md-12 profile-header">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                        <h4>@Model.FirstName  @Model.LastName</h4>
                        <h6>
                            <span class="badge badge-primary">@Model.RoleName</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div asp-validation-summary="ModelOnly"></div>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>نام</td>
                                        <td>@Model.FirstName</td>
                                    </tr>
                                    <tr>
                                        <td>نام خانوادگی</td>
                                        <td>@Model.LastName</td>
                                    </tr>
                                    <tr>
                                        <td>ایمیل</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>شماره موبایل</td>
                                        <td>@Model.PhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td>تاریخ تولد</td>
                                        <td>@Model.BirthDate.ConvertMiladiToShamsi("yyyy/MM/dd")</td>
                                    </tr>
                                    <tr>
                                        <td>تاریخ عضویت</td>
                                        <td>@Model.RegisterDateTime.ConvertMiladiToShamsi("MMMM dd yyyy ساعت HH:mm:ss")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@