﻿@using NewsWebsite.Services.Contracts
@using NewsWebsite.ViewModels.Settings
@inject IWritableOptions<SiteSettings> writableLocations

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="@writableLocations.Value.SiteInfo.MetaDescriptionTag">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@writableLocations.Value.SiteInfo.Title</title>

    <link rel="icon" href="/assets/img/@writableLocations.Value.SiteInfo.Favicon">

    <link rel="stylesheet" href="~/CacheFiles/css/style.css" asp-append-version="true">

    <script src="~/assets/vendor/jquery/dist/jquery-2.2.4.min.js"></script>
    <script src="~/CacheFiles/js/Ajax.js" asp-append-version="true"></script>

    <link href="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.css" asp-append-version="true" rel="stylesheet" />
    <script src="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>
</head>

<body>
    <div id="modal-placeholder"></div>

    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area">
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        @await Component.InvokeAsync("LatestNewsTitleList")
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="top-meta-data d-flex align-items-center justify-content-end">
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-telegram"></i></a>
                            </div>
                            <div class="top-search-area">
                                <form asp-action="Search" method="post">
                                    <input type="search" name="searchText" id="topSearch" placeholder="جستجو ...">
                                    <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            @await Html.PartialAsync("_UserLogin")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vizew-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="vizewNav">
                        <a href="/Home/Index" class="nav-brand"><img src="/assets/img/@writableLocations.Value.SiteInfo.Logo" alt="" height="90">@writableLocations.Value.SiteInfo.Title </a>
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            @await Component.InvokeAsync("CategoryList")
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-70">
                        <a href="/Home/Index" class="foo-logo d-block mb-4"><img src="/assets/img/@writableLocations.Value.SiteInfo.Logo" alt="" height="80"></a>
                        <p>خبر گزاری سایت میزفا فعالیت خود را از دی ماه سال 1385 آغاز کرد و همچنان در تلاش است تا جدیدترین اخبار را به اطلاع کاربران برساند. </p>
                    </div>
                </div>
                @await Component.InvokeAsync("RandomVideosList", 2)
                @await Component.InvokeAsync("RandomNewsList", 2)
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-70">
                        <h6 class="widget-title">اطلاعات تماس</h6>
                        <div class="contact-address">
                            <p>تهران ، خیابان ولیعصر</p>
                            <p>موبایل و تلگرام 09910616875</p>
                            <p>آدرس ایمیل: info@mizfa.academy</p>
                        </div>
                        <div class="footer-social-area">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-telegram"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copywrite-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            Copyright &copy  <a href="https://mizfa.academy" target="_blank">Mizfa.academy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/CacheFiles/js/plugins.js" asp-append-version="true"></script>
    <script src="~/CacheFiles/js/active.js" asp-append-version="true"></script>
</body>
</html>
