﻿@model List<NewsWebsite.ViewModels.News.NewsViewModel>
@using NewsWebsite.Common.Extensions

<div class="single-widget border latest-video-widget mb-50">
    <div class="section-heading style-2 mb-30">
        <h4>محبوب ترین اخبار</h4>
        <div class="line"></div>
    </div>
    <div class="single-post-area mb-30">
        <div class="post-thumbnail">
            <img src="~/newsImage/@Model.First().ImageName" alt="Model.First().ImageName">
            <span class="video-duration">@Model.First().PublishDateTime.ConvertMiladiToShamsi("HH:mm")</span>
        </div>
        <div class="post-content">
            <a href="/@Model.First()/@Model.First().Url" class="post-title"> @Model.First().Title </a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @Model.First().NumberOfComments</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @Model.First().NumberOfVisit</a>
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @Model.First().NumberOfLike</a>
                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @Model.First().NumberOfDisLike</a>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Skip(1).Take(4))
    {
        <div class="single-blog-post d-flex">
            <div class="post-thumbnail">
                <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">
            </div>
            <div class="post-content">
                <a href="/News/@item.NewsId/@item.Url" class="post-title"> @item.ShortTitle </a>
                <div class="post-meta d-flex justify-content-between">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                </div>
            </div>
        </div>
    }
</div>
