﻿@model NewsWebsite.ViewModels.Home.HomePageViewModel
@using NewsWebsite.Common.Extensions
@using NewsWebsite.ViewModels.Newsletter
@using NewsWebsite.ViewModels.Home

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero--area section-padding-60">
    @if (Model.News.Count() != 0)
    {
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="tab-content">
                        @{int i = 1;}
                        @foreach (var item in Model.News)
                        {
                            <div class="tab-pane fade show @(i==1?"active":"")" id="@("post-"+i)" role="tabpanel" aria-labelledby="@("post-"+i+"-tab")">
                                <div class="single-feature-post video-post bg-img" style="background-image: url(/newsImage/@item.ImageName);">
                                    <div class="post-content">
                                        <a href="#" class="post-cata">@item.NameOfCategories</a>
                                        <a href="/News/@item.NewsId/@item.Url" class="post-title"> @item.Title </a>
                                        <div class="post-meta d-flex float-left">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments </a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                                        </div>
                                    </div>
                                    <span class="news-duration">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</span>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </div>

                @{i = 1;}
                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="nav vizew-nav-tab" role="tablist">
                        @foreach (var item in Model.News)
                        {
                            <li class="nav-item w-100">
                                <a class="nav-link  @(i==1?"active":"")" id="@("post-"+i+"-tab")" data-toggle="pill" href="@("#post-"+i)" role="tab" aria-controls="post-1" aria-selected="true">
                                    <div class="single-blog-post style-2 d-flex align-items-center">
                                        <div class="post-thumbnail">
                                            <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">
                                        </div>
                                        <div class="post-content">
                                            <h6 class="post-title"> @item.Title </h6>
                                            <div class="post-meta d-flex justify-content-between">
                                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments </span>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</span>
                                                <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            i++;
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</section>

<section class="trending-posts-area">
    <div id="MostViewedNewsDiv" class="container">
        @await Html.PartialAsync("_MostViewedNews", Model.MostViewedNews)
    </div>
</section>

<section class="vizew-post-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="all-posts-area">
                    @if (Model.Video.Count() != 0)
                    {
                        <div class="section-heading style-2">
                            <h4> جدیدترین ویدیوها </h4>
                            <div class="line"></div>
                        </div>
                        <div class="featured-post-slides owl-carousel mb-30 direction-ltr">
                            @foreach (var item in Model.Video)
                            {
                                <div class="single-feature-post video-post bg-img" style="background-image: url(/posters/@item.Poster);">
                                    <a href="/Video/@item.VideoId" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    <div class="post-content">
                                        <a href="/Video/@item.VideoId" class="post-title">@item.Title</a>
                                    </div>
                                    <span class="video-duration direction-rtl">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</span>
                                </div>
                            }
                        </div>
                    }

                    <div class="row mt-5">
                        @if (Model.InternalNews.Count() != 0)
                        {
                            <div class="col-12 col-lg-6">
                                <div class="section-heading style-2">
                                    <h5>جدیدترین اخبار داخلی</h5>
                                    <div class="line"></div>
                                </div>
                                <div class="sport-video-slides owl-carousel mb-50 direction-ltr">
                                    @foreach (var item in Model.InternalNews)
                                    {
                                        <div class="single-post-area">
                                            <div class="post-thumbnail">
                                                <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">
                                                <span class="video-duration direction-rtl">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</span>
                                            </div>
                                            <div class="post-content">
                                                <a href="#" class="post-cata cata-sm cata-primary">@item.NameOfCategories</a>
                                                <a href="/News/@item.NewsId/@item.Url" class="post-title"> @item.Title </a>
                                                <div class="post-meta d-flex">
                                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments</a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                                                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                        @if (Model.ForeignNews.Count() != 0)
                        {
                            <div class="col-12 col-lg-6">
                                <div class="section-heading style-2">
                                    <h5>جدیدترین اخبار خارجی</h5>
                                    <div class="line"></div>
                                </div>
                                <div class="business-video-slides owl-carousel mb-50 direction-ltr">
                                    @foreach (var item in Model.ForeignNews)
                                    {
                                        <div class="single-post-area">
                                            <div class="post-thumbnail">
                                                <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">
                                                <span class="video-duration direction-rtl">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</span>
                                            </div>
                                            <div class="post-content">
                                                <a href="#" class="post-cata cata-sm cata-primary">@item.NameOfCategories</a>
                                                <a href="/News/@item.NewsId/@item.Url" class="post-title"> @item.Title </a>
                                                <div class="post-meta d-flex">
                                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments</a>
                                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                                                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="section-heading style-2">
                        <h4>آخرین اخبار</h4>
                        <div class="line"></div>
                    </div>
                    @if (Model.News.Count() == 0)
                    {
                        <p class="alert alert-info text-center">هیچ خبری انتشار داده نشده است.</p>
                    }
                    else
                    {
                        <div id="NewsPaginate">
                            @await Html.PartialAsync("_NewsPaginate", new NewsPaginateViewModel(Model.CountNewsPublished, Model.News.Take(5).ToList()))
                        </div>
                        <div id="page" class="mt-5">
                            <ul class="pagination"></ul>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">
                    @if (Model.MostPopularNews.Count() != 0)
                    {
                        @await Html.PartialAsync("_MostPopularNews", Model.MostPopularNews)
                    }

                    @await Html.PartialAsync("_RegisterInNewsletter", new NewsletterViewModel())

                    <div id="MostTalkNewsDiv">
                        @await Html.PartialAsync("_MostTalkNews", Model.MostTalkNews)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/CacheFiles/js/pagination.min.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(function() {
	      $('#page').Pagination({
                size: @Model.CountNewsPublished,
                limit: 5,
    	    }, function(obj){
                  var offset=(obj.page-1)*5;
                  $.ajax({
                    url: '/Home/GetNewsPaginate?offset='+offset+'&&limit=5',
                    beforeSend: function () { $('#modal-placeholder').after('<div class="preloader d-flex align-items-center justify-content-center"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>');},
                    complete: function () { $('.preloader').remove();},
                    error: function () {
                            ShowSweetErrorAlert();
                    }
                 }).done(function (result) {
                    $("#NewsPaginate").html(result);
                 });
        });
    });
</script>
