﻿@model NewsWebsite.ViewModels.Home.NewsDetailsViewModel
@using NewsWebsite.Common.Extensions
@using NewsWebsite.ViewModels.Comments

@{
    ViewData["Title"] = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .post-meta.d-flex a i {
        font-size: 15px !important;
    }
</style>

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb  justify-content-center">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">@Model.News.NameOfCategories</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.News.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="vizew-pager-area">
    @if (Model.NextAndPreviousNews.First() != null)
    {
        <div class="vizew-pager-next">
            <p>خبر قبلی</p>
            <div class="single-feature-post video-post bg-img pager-article" style="background-image: url(/newsImage/@Model.NextAndPreviousNews.First().ImageName);">
                <div class="post-content">
                    <a href="/News/@Model.NextAndPreviousNews.First().NewsId/@Model.NextAndPreviousNews.First().Url" class="post-title mb-30">@Model.NextAndPreviousNews.First().Title</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @Model.NextAndPreviousNews.First().NumberOfComments</a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @Model.NextAndPreviousNews.First().NumberOfVisit</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @Model.NextAndPreviousNews.First().NumberOfLike</a>
                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @Model.NextAndPreviousNews.First().NumberOfDisLike</a>
                    </div>
                </div>
                <span class="video-duration">@Model.NextAndPreviousNews.First().PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</span>
            </div>
        </div>
    }
    @if (Model.NextAndPreviousNews.Last() != null)
    {
        <div class="vizew-pager-prev">
            <p>خبر بعدی</p>
            <div class="single-feature-post video-post bg-img pager-article" style="background-image: url(/newsImage/@Model.NextAndPreviousNews.Last().ImageName);">
                <div class="post-content">
                    <a href="/News/@Model.NextAndPreviousNews.Last().NewsId/@Model.NextAndPreviousNews.Last().Url" class="post-title mb-30">@Model.NextAndPreviousNews.Last().Title</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @Model.NextAndPreviousNews.Last().NumberOfComments</a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @Model.NextAndPreviousNews.Last().NumberOfVisit</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @Model.NextAndPreviousNews.Last().NumberOfLike</a>
                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @Model.NextAndPreviousNews.Last().NumberOfDisLike</a>
                    </div>
                </div>
                <span class="video-duration">/@Model.NextAndPreviousNews.Last().PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</span>
            </div>
        </div>
    }
</div>

<section class="post-details-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="post-details-thumb mb-50">
                        <img src="~/newsImage/@Model.News.ImageName" alt="@Model.News.ImageName">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 col-xl-8">
                <div class="post-details-content">
                    <div class="blog-content">
                        <div class="post-content mt-0">
                            <a href="#" class="post-cata cata-sm cata-danger">@Model.News.NameOfCategories</a>
                            <a href="~/News/@Model.News.NewsId/@Model.News.Url" class="post-title mb-2">@Model.News.Title</a>
                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author">@Model.News.AuthorInfo.FirstName  @Model.News.AuthorInfo.LastName</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date"> @Model.News.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:MM")</a>
                                </div>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @Model.News.NumberOfComments</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @Model.News.NumberOfVisit</a>
                                    <a onclick="LikeOrDisLike('@Model.News.NewsId',true)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span id="like">@Model.News.NumberOfLike</span></a>
                                    <a onclick="LikeOrDisLike('@Model.News.NewsId', false)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> <span id="dislike">@Model.News.NumberOfDisLike</span></a>
                                    <a onclick="Bookmark('@Model.News.NewsId')" id="bookmark">
                                        <i class="fa @(Model.News.IsBookmarked?"fa-bookmark":"fa-bookmark-o")" aria-hidden='true'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @Html.Raw(Model.News.Description)
                        @if (Model.News.TagNamesList.Count() != 0)
                        {
                            <div class="post-tags mt-30">
                                <h6> برچسب ها (کلمات کلیدی)</h6>
                                @if (Model.News.TagNamesList.Count() != 0)
                                {
                                    <ul>
                                        @for (var i = 0; i < Model.News.TagNamesList.Count; i++)
                                        {
                                            <li><a href="/Tag/@Model.News.TagIdsList[i+1]">@Model.News.TagNamesList[i]</a></li>
                                        }
                                    </ul>
                                }
                            </div>
                        }
                        <div class="vizew-post-author d-flex align-items-center py-2">
                            <div class="post-author-thumb">
                                <img src="~/avatars/@Model.News.AuthorInfo.Image" alt="@Model.News.AuthorInfo.Image" height="90">
                            </div>
                            <div class="post-author-desc pr-4">
                                <h6 href="#" class="author-name"> نویسنده : @Model.News.AuthorInfo.FirstName  @Model.News.AuthorInfo.LastName</h6>
                                <p>@Model.News.AuthorInfo.Bio</p>
                            </div>
                        </div>
                        <div class="related-post-area mt-5">
                            <div class="section-heading style-2">
                                <h4>خبرهای مرتبط</h4>
                                <div class="line"></div>
                            </div>
                            @if (Model.NewsRelated.Count() != 0)
                            {
                                <div class="row">
                                    @foreach (var item in Model.NewsRelated)
                                    {
                                        <div class="col-12 col-md-6">
                                            <div class="single-post-area mb-50">
                                                <div class="post-thumbnail">
                                                    <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">
                                                    <span class="video-duration">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</span>
                                                </div>
                                                <div class="post-content">
                                                    <a href="/News/@item.NewsId/@item.Url" class="post-title">@item.Title</a>
                                                    <div class="post-meta d-flex">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <p class="alert alert-info">خبر مرتبط با این خبر یافت نشد .</p>
                            }
                        </div>
                        <div class="comment_area clearfix mb-50">
                            <div class="section-heading style-2">
                                <h4>نظرات</h4>
                                <div class="line"></div>
                            </div>
                            @if (Model.Comments.Count() != 0)
                            {
                                <ul>
                                    @foreach (var item in Model.Comments)
                                    {
                                        <li class="single_comment_area">
                                            <div id="@("comment-"+item.CommentId)" class="comment-content d-flex">
                                                <div class="comment-author">
                                                    <img src="~/assets/img/UserPic.png" alt="author">
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="#" class="comment-date">@item.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                    <h6>@item.Name</h6>
                                                    <p>@item.Description</p>
                                                    <div class="d-flex align-items-center">
                                                        <a id="@("btn-"+item.CommentId)" onclick="ShowCommentForm('@item.CommentId','@item.NewsId')" href="#" class="reply">پاسخ</a>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (item.Comments.Count() != 0)
                                            {
                                                <ol class="children">
                                                    @foreach (var sub in item.Comments)
                                                    {
                                                        <li class="single_comment_area">
                                                            <div id="@("comment-"+sub.CommentId)" class="comment-content d-flex">
                                                                <div class="comment-author">
                                                                    <img src="~/assets/img/UserPic.png" alt="author">
                                                                </div>
                                                                <div class="comment-meta">
                                                                    <a href="#" class="comment-date">@sub.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                                    <h6>@sub.Name</h6>
                                                                    <p>@sub.Description</p>
                                                                    <div class="d-flex align-items-center">
                                                                        <a id="@("btn-"+sub.CommentId)" href="#" onclick="ShowCommentForm('@sub.CommentId','@item.NewsId')" class="reply">پاسخ</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @if (sub.Comments.Count() != 0)
                                                            {
                                                                @await Html.PartialAsync("_SubComments", sub.Comments)
                                                            }
                                                        </li>
                                                    }
                                                </ol>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="alert alert-info mb-0">دیدگاهی برای این خبر ارسال نشده است.</p>
                            }
                        </div>
                        <div class="post-a-comment-area">
                            <div class="section-heading style-2">
                                <h4>ارسال دیدگاه</h4>
                                <div class="line"></div>
                            </div>
                            @await Html.PartialAsync("_SendComment", new CommentViewModel(null, Model.News.NewsId))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
