﻿@model NewsWebsite.ViewModels.Home.CategoryOrTagInfoViewModel
@using NewsWebsite.Common
@using NewsWebsite.ViewModels.Newsletter

@{
    ViewData["Title"] = "NewsInCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="vizew-archive-list-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="archive-catagory-view mb-30 d-flex align-items-center justify-content-between">
                    <div class="archive-catagory">
                        <h4> @(Model.IsCategory ? "دسته ی" : "برچسب") @Model.Title </h4>
                    </div>
                    <div class="view-options">
                        <a href="archive-grid.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                        <a href="archive-list.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div id="container"></div>
                <div id="progress" class="text-center" style="display:none">
                    <p>در حال بارگزاری اطلاعات ...</p>
                    <div class="loadingCricle m-auto"></div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    @await Html.PartialAsync("_RegisterInNewsletter", new NewsletterViewModel())

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var pageSize = 5;
    var pageIndex = 0;

    GetData();
    $(window).scroll(function () {
        if (Math.ceil($(window).scrollTop()) == $(document).height() - $(window).height()) {
            GetData();
        }
    });

    function GetData() {
        $.ajax({
            type: 'GET',
            url: '/Home/GetNewsInCategoryAndTag',
            data:{"pageindex":pageIndex,"pagesize":pageSize,"categoryId":'@(Model.IsCategory?Model.Id:"")',"tagId":'@(Model.IsCategory==false?Model.Id:"")'},
            dataType: 'json',

            success: function (data) {
                if (data != null) {
                   $.each(data, function (i) {
                       $("#container").append("<div class='single-post-area style-2'><div class='row align-items-center'><div class='col-12 col-md-6'> <div class='post-thumbnail'><img src='/newsImage/" + data[i].imageName + "' alt='" + data[i].imageName + "' /><span class='video-duration'>" + data[i].persianPublishTime + "</span></div></div><div class='col-12 col-md-6'><div class='post-content mt-0'><a href='#' class='post-cata cata-sm cata-success'>" + data[i].nameOfCategories + "</a> <a href='/News/" + data[i].newsId + "/" + data[i].url + "' class='post-title mb-2'>" + data[i].title + "</a><div class='post-meta d-flex align-items-center mb-2'><a href='#' class='post-author'>" + data[i].authorName + "</a><i class='fa fa-circle' aria-hidden='true'></i><a href='#' class='post-date'>" + data[i].persianPublishDate + "</a></div><p class='mb-2'>"
                          +data[i].abstract+"</p><div class='post-meta d-flex'><a href='#'><i class='fa fa-comments-o' aria-hidden='true'></i> "+ data[i].numberOfComments+"</a><a href='#'><i class='fa fa-eye' aria-hidden='true'></i> "+ data[i].numberOfVisit+"</a><a href='#'><i class='fa fa-thumbs-o-up' aria-hidden='true'></i> "+ data[i].numberOfLike+"</a><a href='#'><i class='fa fa-thumbs-o-down' aria-hidden='true'></i> "+ data[i].numberOfDisLike+"</a></div></div></div></div></div> ");
                   });
                   pageIndex++;
                }
            },

            beforeSend : function () {
                $("#progress").show();
            },

            complete : function () {
                $("#progress").hide();
            },

            error: function () {
                 ShowSweetErrorAlert();
            }
        });
    }
</script>
