﻿@model List<NewsWebsite.ViewModels.News.NewsViewModel>
@using NewsWebsite.Common.Extensions
@using NewsWebsite.ViewModels.Newsletter

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">نتایج جستجو</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="vizew-archive-list-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="archive-catagory-view mb-30 d-flex align-items-center justify-content-between">
                    <div class="archive-catagory">
                        <h4> نتایج جستجو </h4>
                    </div>
                    <div class="view-options">
                        <a href="archive-grid.html"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                        <a href="archive-list.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>
                </div>
                @if (Model.Count() != 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="single-post-area style-2">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="post-thumbnail">
                                        <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">
                                        <span class="video-duration">@item.PublishDateTime.ConvertMiladiToShamsi("HH:mm")</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="post-content mt-0">
                                        <a href="#" class="post-cata cata-sm cata-success">@item.NameOfCategories</a>
                                        <a href="~/News/@item.NewsId/@item.Url" class="post-title mb-2">@item.Title</a>
                                        <div class="post-meta d-flex align-items-center mb-2">
                                            <a href="#" class="post-author">@item.AuthorName</a>
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                            <a href="#" class="post-date">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</a>
                                        </div>
                                        <p class="mb-2">@item.Abstract</p>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="alert alert-info">خبری یافت نشد ...</p>
                }
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">
                    @await Html.PartialAsync("_RegisterInNewsletter", new NewsletterViewModel())
                </div>
            </div>
        </div>
    </div>
</div>
