﻿@model NewsWebsite.ViewModels.Video.VideoViewModel

<style>
    .modal-dialog {
      max-width: 450px !important;
    }
</style>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.VideoId != null)
                {
                    <h3 id="modal-title">ویرایش اطلاعات ویدیو</h3>
                }
                else
                {
                    <h3 id="modal-title">افزودن ویدیوی جدید</h3>
                }
                <button type="button" class="close btn-link" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body clearfix">
                <form asp-action="CreateOrUpdate">
                    @if (ViewData.ModelState.IsValid.ToString() == "False")
                    {
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    }
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="VideoId" />

                    <div class="row">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label asp-for="Title" class="control-label"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label asp-for="Url" class="control-label"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Url" class="form-control" />
                                <span asp-validation-for="Url" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="PosterFile" class="control-label"></label>
                            <span asp-validation-for="PosterFile" class="text-danger"></span>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    @if (Model.Poster != null)
                                    {
                                        <img src="~/posters/@Model.Poster" class="img-thumbnail" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/img/video-poster.jpg" class="img-thumbnail" />
                                    }
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="height:200px"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new btn btn-success"> انتخاب کنید </span>
                                        <span class="fileinput-exists btn btn-default"> تغییر عکس </span>
                                        <input type="file" asp-for="PosterFile" accept=".jpg, .png, .jpeg, .gif, .tif, .tiff, .JPG" />
                                    </span>
                                    <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> حذف </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">بستن</button>
                @if (Model.VideoId != null)
                {
                    <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        ذخیره تغییرات
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        افزودن اطلاعات
                    </button>
                }
            </div>
        </div>
    </div>
</div>
