﻿@model List<NewsWebsite.ViewModels.Video.VideoViewModel>

<div class="col-12 col-sm-6 col-xl-3">
    <div class="footer-widget mb-70">
        <h6 class="widget-title">ویدیوهای تصادفی</h6>
        @foreach (var item in Model)
        {
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="~/posters/@item.Poster" alt="@item.Poster">
                </div>
                <div class="post-content">
                    <a href="/Video/@item.VideoId" class="post-title">@item.Title</a>
                </div>
            </div>
        }
    </div>
</div>
