﻿@model NewsWebsite.ViewModels.UserManager.UsersViewModel
@using NewsWebsite.Entities.Identity;

<style>
    .modal-dialog {
        max-width: 800px !important;
    }
</style>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">


                <h3 id="modal-title">ویرایش اطلاعات کاربر</h3>


                <button type="button" class="close btn-link" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body clearfix" style="max-height: 450px;overflow-y: auto;">
                <form asp-action="UpdateInfoUser">
                    @if (ViewData.ModelState.IsValid.ToString() == "False")
                    {
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-4"></div>
                    }

                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="Id" />

                    <div class="row mt-2 mb-2">
                        <div class="col-md-4 border-left">
                            <div class="col-md-12 border-bottom text-center">
                                <p>
                                    تصویر پروفایل
                                </p>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="height: 150px;">

                                        <img src="~/avatars/@Model.Image" />


                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="height:200px"> </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new btn btn-success"> انتخاب کنید </span>
                                            <span class="fileinput-exists btn btn-default"> تغییر عکس </span>
                                            <input type="file" asp-for="ImageFile" accept=".jpg, .png, .jpeg, .gif, .tif, .tiff, .JPG" />
                                        </span>
                                        <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> حذف </a>
                                    </div>
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="mt-3">اختصاص نقش به کاربر</p>
                                @foreach (var item in ViewBag.Roles as List<Role>)
                                {
                                    <label class="col-md-8" style="vertical-align:20px;">@item.Name</label>
                                    <label class="custom-toggle">

                                        <input type="radio" value="@item.Id" asp-for="RoleId" checked />

                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                    <span class="clearfix"></span>
                                }

                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="UserName" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="Email" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="FirstName" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="LastName" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="Gender" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-4 custom-control custom-radio mb-3">
                                            <input asp-for="Gender" value="@GenderType.Male" class="custom-control-input" id="customRadio1" type="radio">
                                            <label class="custom-control-label" for="customRadio1">مرد</label>
                                        </div>
                                        <div class="col-md-4 custom-control custom-radio mb-3">
                                            <input asp-for="Gender" value="@GenderType.Female" class="custom-control-input" id="customRadio2" type="radio">
                                            <label class="custom-control-label" for="customRadio2">زن</label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="PersianBirthDate" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cursor-pointer" id="BirthDate">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <input asp-for="PersianBirthDate" class="form-control" id="InputBirthDate" style="direction:ltr" />

                                    </div>
                                </div>

                                <span asp-validation-for="PersianBirthDate" class="text-danger"></span>
                            </div>
                            <script>
                                $("#BirthDate").MdPersianDateTimePicker({
                                    targetTextSelector: "#InputBirthDate",
                                    placement: 'top',
                                });
                            </script>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label asp-for="Bio" class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <textarea asp-for="Bio" class="form-control"></textarea>
                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">بستن</button>

                <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                    ذخیره تغییرات
                </button>

            </div>
        </div>
    </div>
</div>

