﻿@model NewsWebsite.ViewModels.UserManager.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <ul class="nav nav-sitemap justify-content-center justify-content-xl-end">
            <li>
                <a class="h4 mb-0 text-white d-lg-inline-block" href="./index.html"> داشبورد </a>
            </li>
            <li class="pr-2 pl-2">
                <i class="fa fa-angle-left text-white align-middle"></i>
            </li>
            <li>
                <a class="h4 mb-0 text-white d-lg-inline-block" href="#">بازنشانی کلمه عبور</a>
            </li>
        </ul>
        @await Html.PartialAsync("_AdminLogin")
    </div>
</nav>

<div class="header bg-gradient-primary pb-4 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="card shadow w-100">
            <div class="card-header font_Vazir_Medium">
                بازنشانی کلمه عبور
            </div>
            <div class="card-body">
                <form asp-action="ResetPassword" method="post">
                    <div class="card-body">
                        @if (ViewBag.AlertSuccess != null)
                        {
                            <div class="alert alert-success alert-dismissable mb-4">
                                @ViewBag.AlertSuccess
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6 border-left">
                                <div asp-validation-summary="ModelOnly" class="alert alert-danger">
                                </div>
                                <div class="row">
                                    <input type="hidden" asp-for="userId" />
                                    <div class="form-group col-md-12">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" disabled />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label asp-for="NewPassword"></label>
                                        <input asp-for="NewPassword" class="form-control" type="password" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary float-left">بازنشانی</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="alert p-0">
                                    <ul>
                                        <li>"کلمه عبور باید حداقل شامل یک کاراکتر عدد ('0'-'9') باشد."</li>
                                        <li>"کلمه عبور باید حداقل شامل یکی از کاراکترهای حرفی ('a'-'z') باشد."</li>
                                        <li>"کلمه عبور باید حداقل شامل یک حرف بزرگ ('A'-'Z') باشد."</li>
                                        <li>"کلمه عبور باید حداقل شامل 6 کاراکتر باشد." </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
